# Example of using the marketplace of CBSD jail images

# default password
GITLAB_ROOT_PASSWORD="yourpassword"

jail_gitlab()
{
	from="https://dl.bsdstore.ru/img/`uname -m`/`uname -m`/`sysctl -n kern.osrelease | cut -d - -f 1`/${jname}/${jname}.img"
	ip4_addr="DHCP"
	host_hostname="${jname}.my.domain"
	ver="native"
	interface="auto"
	runasap=1
	pkg_bootstrap=0
}

postcreate_gitlab()
{
	local _ip

	_ip=$( jget jname=${jname} mode=quiet ip4_addr )

	# show postmessage
	cat <<EOF
	GitLab URL          : http://${_ip}
	GitLab root login   : root
	GitLab root passowrd: "${GITLAB_ROOT_PASSWORD}"
EOF
}
