# Example of using the marketplace of CBSD jail images
jail_qbittorrent()
{
	# Use remote image. You can comment this line to build the image locally.
	from="https://dl.convectix.com/img/`uname -m`/`uname -m`/`sysctl -n kern.osrelease | cut -d - -f 1`/${jname}/${jname}.img"

	ip4_addr="DHCP"
	host_hostname="${jname}.my.domain"
	ver="native"
	interface="auto"
	runasap=1
	pkg_bootstrap=0
}

postcreate_qbittorrent()
{
	local _ip

	_ip=$( jget jname=${jname} mode=quiet ip4_addr )

	# postmessage
	set +o errexit  # retcode for iptype

	OIFS="${IFS}"
	IFS=","
	for i in ${_ip}; do
		IFS="${OIFS}"
		myip=
		iptype ${i}
		case $? in
			1)
				# ipv4, no cast
				myip="${i}"
				;;
			2)
				# ipv6, add brackets
				myip="[${i}]"
				;;
			*)
				# unknown IP type
				continue
				;;
		esac

		cat <<EOF
  ${jname} url          : http://${_ip}:8080
  Default credentials:
    user: admin
    password: adminadmin

EOF
		IFS=","
	done
	IFS="${OIFS}"
	set -o errexit
}
