# Example of using the marketplace of CBSD jail images

jail_phpipam()
{
	from="https://dl.bsdstore.ru/img/`uname -m`/`uname -m`/`sysctl -n kern.osrelease | cut -d - -f 1`/${jname}/${jname}.img"
	ip4_addr="DHCP"
	host_hostname="${jname}.my.domain"
	ver="native"
	interface="auto"
	runasap=1
	pkg_bootstrap=0
}

postcreate_phpipam()
{
	local _ip

	_ip=$( jget jname=${jname} mode=quiet ip4_addr )

	# show postmessage
	cat <<EOF
	Default user/password is: Admin/ipamadmin
	${jname} url          : http://${ip4_addr}
EOF
}
