# enable syncronize ISO ?
# '0' - to disable or string in crontab(5) format
# E.g. run sync five minutes after midnight, every day:
# CBSD_MIRROR_SYNC_ISO="5 0 * * *"

CBSD_MIRROR_SYNC_ISO="*/14 * * *"

# enable syncronize CLOUD ?
# '0' - to disable or string in crontab(5) format
# E.g. run sync five minutes after midnight, every day:
# CBSD_MIRROR_SYNC_CLOUD="5 0 * * *"
#
# default: sync every 15 minutes:
CBSD_MIRROR_SYNC_CLOUD="*/15 * * *"

# default RSYNC flags string
# for ISO:
CBSD_MIRROR_SYNC_ISO_RSYNC_FLAGS="-a --delete"
# for CLOUD:
CBSD_MIRROR_SYNC_CLOUD_RSYNC_FLAGS="-a --delete"

# NGINX vhost docroot for /iso + /cloud
CBSD_MIRROR_SYNC_DOCROOT="/usr/local/www/cbsd-mirror"
