# Example of using the marketplace of CBSD jail images
# grep MYSQL_DEFAULT /usr/ports/Mk/bsd.default-versions.mk
jail_mysql()
{
	forms="mysql"

	# Use remote image. You can comment this line to build the image locally.
	from="https://dl.bsdstore.ru/img/`uname -m`/`uname -m`/`sysctl -n kern.osrelease | cut -d - -f 1`/${jname}/${jname}.img"

	# to overwrite default settings, see 'cbsd forms module=mysql vars' for full list
	# use 'cbsd forms' to re-configure settings in runtime.
	# export H_MYSQL_VER=80 H_PORT=1234 H_MAX_CONNECTIONS=128 ...
	ip4_addr="DHCP"
	host_hostname="${jname}.my.domain"
	ver="native"
	interface="auto"
	runasap=1
	pkg_bootstrap=0
}

# Ensure we have forms-mysql module
preup_mysql()
{
	# forms-based module, install it first
	module mode=install forms-mysql
}
